@import 'mixins.scss';

* {
    box-sizing: border-box;
}

body,
html {
    margin: 0;
    padding: 0;
    font-family: 'Inter', 'Roboto', 'Helvetica', 'Arial';
    min-height: 100vh;
    width: 100vw;
    overflow-x: hidden;
    background: #F3F3F3;
}

body {
    display: flex;
    flex-flow: column;
    position: relative;
}

h2,
h4,
h5 {
    font-weight: normal;
    margin: 0;
}

p {
    text-align: justify;
}

hr {
    margin: 1.5em;
    width: 90%;
    border: 0;
    border-bottom: 1px solid #bfbfbf;
}

.icon-container {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    padding: .75em;
    margin: .5em;
    transition: background-color 250ms ease;

    .icon {
        height: 2rem;
        aspect-ratio: 1/1;
    }

    &:hover {
        // background-color: #eeeeee;
    }
}

.center {
    display: flex;
    justify-content: center;
    align-self: center;
    align-items: center;
}

.asalee {
    color: #42B23B;
    font-weight: 700;
    letter-spacing: -0.02em;
}

header {
    position: fixed;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    max-height: 6em;
    box-shadow: 0px -2px 4px 2px rgb(112 112 112 / 40%);
    background-color: #F3F3F3;
    z-index: 2;
    transition: top ease 200ms;

    @include desktop {
        position: absolute;
        height: 5em;
    }

    &.hide {
        top: -7em;

        @include desktop {
            top: 0;
        }
    }

    .logo-container {
        display: flex;
        height: 100%;
        border-radius: .5em;
        transition: all 250ms ease;

        &:hover {
            background-color: #eee;
        }

        .logo {
            aspect-ratio: 393/128;
            max-height: 6em;
            padding: 0.5em;
            mix-blend-mode: darken;

            @include desktop {
                padding: 0.1em;
            }
        }
    }


    .hamburger-icon {
        @include desktop {
            display: none;
        }
    }
}

.menu {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    height: 100vh;
    width: 75vw;
    min-width: 200px;
    max-width: 400px;
    position: absolute;
    top: 0;
    right: 0;
    padding: 0.5em;
    background-color: #fff;
    box-shadow: 0px 4px 4px 2px rgba(112, 112, 112, 0.4);
    transition: right 250ms ease;

    @include desktop {
        position: inherit;
        flex-flow: row nowrap;
        width: auto;
        height: 5em;
        min-width: none;
        max-width: none;
        background-color: transparent;
        box-shadow: none;
    }

    &.open {
        right: 0;
    }

    &.close {
        right: -77vw;

        @include desktop {
            right: 0;
        }
    }

    &-item {
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        align-items: center;
        width: 100%;
        padding: .5em 0;
        border-radius: 5px;
        list-style: none;
        cursor: pointer;
        user-select: none;
        transition: all 250ms ease;

        @include desktop {
            padding: .5em 1em;
            height: 100%;
        }

        &:hover {
            background-color: #ddd;
        }

        &-content {
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            max-width: 75%;

            &>* {
                margin: 0 .5em;
            }

            @include desktop {
                max-width: 100%;
            }
        }

        img {
            height: 2rem;

            @include desktop {
                margin: 0;
            }
        }

        &-label {
            font-size: 1.85em;

            @include desktop {
                font-size: 1em;
            }
        }
    }

    hr {
        height: .5px;
        width: 75%;
        margin: 0 0 2em 0;
        padding: 0;
        border: 0;
        border-bottom: 0.25px solid #bababa;

        @include desktop {
            display: none;
        }
    }

    .contact-button {
        justify-self: flex-end;
        width: 80%;
        padding: 1em;
        margin: 1em;
        text-align: center;
        text-decoration: none;
        color: rgba(10, 10, 10, .9);
        border-radius: 10px;
        border: 1px solid black;
        transition: all 250ms ease;

        @include desktop {
            display: none;
        }

        &:hover {
            background-color: #ddd;
        }
    }

    .blank {
        height: 3em;
    }


    .close-icon {
        align-self: end;
        margin: 1em;

        @include desktop {
            display: none;
        }
    }

}

main {
    display: flex;
    align-items: center;
    align-self: center;
    flex-flow: column;
    flex-grow: 1;
    margin-top: 6em;
    padding: 1em;
    background: #F5F5F5;
    // box-shadow: 0px 4px 4px 2px rgb(206 206 206 / 40%);

    @include desktop {
        margin: 5em 2em 0;
        max-width: 1000px;
    }

    section {
        display: flex;
        flex-flow: column wrap;
        width: 100%;

        @include desktop {
            width: 90%;
        }

        .icon-container {
            margin: 0;
        }

        .title-bar {
            display: flex;
            flex-flow: row nowrap;
            align-items: center;


            .icon {
                height: 4.5em;
            }

            .title {
                align-self: center;
            }
        }

        .title {
            padding: .5em 0;
            font-size: 2rem;
            align-self: flex-start;
        }

        .container {
            display: flex;
            flex-flow: column;
            width: 100%;

            @include desktop {
                flex-flow: column wrap;
                justify-content: space-evenly;
                width: 100%;
                margin: 2em 0em;
            }
        }

        .bullet-point {
            margin: .5em 0;
            line-height: 1.35em;

            p {
                margin: 0 .5em .25em;
                text-align: justify;
            }

            ul {
                padding: 0;
                margin: .75em;
                margin-left: 2em;
                display: flex;
                flex-flow: column;
                justify-content: center;
            }

            li {
                padding: 0.25em;
                padding-left: 0.5em;
                text-align: left;

                @include desktop {
                    padding: 0.65em;
                }
            }
        }
    }

    .stats {
        display: flex;
        flex-flow: column nowrap;

        .title {
            @include center;
            display: inline;
            align-self: center;
            font-size: 1.65rem;
            white-space: nowrap;
        }

        &-block {
            display: flex;
            align-items: center;
            flex-flow: row nowrap;
            font-size: 1.7em;
            white-space: nowrap;

            @include desktop {
                margin: 0 1em;
            }

            .icon-container {
                margin: 0;
            }

            .icon {
                height: 3em;

                @include desktop {
                    height: 2em;
                }
            }
        }

        .left {
            align-self: flex-start;
        }

        .right {
            align-self: flex-end;
        }

        .presentation-text {
            letter-spacing: 0.02em;
            text-indent: 2em;
            text-align: justify;
            line-height: 1.25em;
            padding: 1em .5em;
            color: #5F5F5F;
        }
    }

    .image-separator img {
        width: 100vw;
        margin: 1em 0;
        box-sizing: content-box;
        filter: brightness(.8);

        @include desktop {
            display: none;
        }
    }

    .activities {
        padding: .5em;

        .diagram {
            margin: 0.5em;
            width: 14em;

            @include desktop {
                width: 18em;
            }
        }

        .accent {
            color: #42B23B;
        }

        .bullet-point li {
            padding: 0.5em;
            text-align: justify;
        }

        .video-container {
            width: 100%;

            h2 {
                margin-top: 1em;
            }

            .yt-video {
                display: block;
                justify-self: center;
                width: 100%;
                aspect-ratio: 606/360;
                margin: 1em auto;
                border-radius: 1em;

                @include desktop {
                    height: 350px;
                    width: auto;
                    border-radius: .5em;
                }
            }
        }

    }

    .why {
        li {
            @include desktop {
                padding: 0.25em !important;
            }
        }
    }

    .geo {
        .title {
            padding: .5em 0;
        }

        .container {
            @include center;
        }

        .map {
            width: 90vw;
            max-width: 700px;
            height: auto;
            mix-blend-mode: darken;
        }
    }

    .where {}

    .history {
        .icon {
            height: 4em;
        }

        .block-content {
            display: flex;
            flex-flow: column;
            align-items: flex-start;

            .date {
                font-size: 1.5em;
            }

            .description {
                color: #5F5F5F;
            }
        }


        .separator {
            writing-mode: vertical-lr;
            text-orientation: mixed;
            text-align: center;
            letter-spacing: 0.02em;
            color: #8C8C8C;
            transform: translateX(4px);
        }

        &-grid {
            display: grid;
            grid-template-columns: 1fr 2fr;

            &>div {
                @include center;
            }
        }
    }

    .articles {
        @include center;

        .article {
            display: flex;
            flex-flow: row;
            justify-content: space-evenly;
            width: 90vw;
            max-width: 700px;
            border-radius: 5px;
            background-color: transparent;
            transition: background 250ms ease;
            padding: .5em .25em;

            &:hover {
                background-color: #eeeeee;
            }

            &-block {
                display: flex;
                flex-flow: row;
                align-items: center;
            }

            &-content {
                padding: 1em;
                display: flex;
                flex-flow: column;
                justify-content: center;
                width: 100%;
                height: 100%;
            }

            &-title {
                display: flex;
                font-size: 1.75em;
                align-self: flex-start;
            }

        }

        .icon {
            height: 5em;
        }

        a {
            align-self: flex-end;
            padding: 0.25em;
            border-radius: 5px;
            color: #42B23B;
            text-decoration: none;

            &:hover {
                text-decoration: underline;
            }
        }
    }

    .contact-us {
        width: 80vw;
        max-width: 500px;
        margin: 1em auto;
        padding: .7em;
        border-radius: .75em;
        border: 2px solid #42B23B;
        font-size: 1.5em;
        color: #42B23B;
        text-decoration: none;
        text-align: center;

        &:hover {
            background-color: #eee;
        }
    }
}

footer {
    display: flex;
    flex-flow: column;
    justify-content: flex-end;
    border-radius: 2em 2em 0 0;
    overflow: hidden;

    @include desktop {
        border-radius: .75em .75em 0 0;

        img {
            display: none;
        }
    }


    p {
        display: block;
        width: 100vw;
        color: #F4F4F4;
        margin: 0;
        padding: 1em;
        text-align: center;
        background-color: #C6E094;

        @include desktop {
            background-color: #ababab;
        }

        .legals {
            text-decoration: none;
            color: #F4F4F4;
            transition: all 250ms ease;

            &:hover {
                color: #ffffff;
                text-decoration: underline;
            }
        }
    }
}