/* Media queries */
* {
  box-sizing: border-box;
}

body,
html {
  margin: 0;
  padding: 0;
  background: #F3F3F3;
  font-family: "Inter", "Roboto";
  min-height: 100vh;
  width: 100vw;
  overflow-x: hidden;
}

body {
  display: flex;
  flex-flow: column;
  position: relative;
}

h2,
h5 {
  font-weight: normal;
  margin: 0;
}

.icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  padding: 0.75em;
  margin: 0.5em;
  transition: background-color 250ms ease;
}
.icon-container .icon {
  height: 2rem;
  aspect-ratio: 1/1;
}
.icon-container:hover {
  background-color: #eeeeee;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.asalee {
  color: #42B23B;
  font-weight: 700;
  letter-spacing: -0.02em;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  max-height: 6em;
  box-shadow: 0px -2px 4px 2px rgba(112, 112, 112, 0.4);
}
@media screen and (min-width: 800px) {
  header {
    height: 5em;
  }
}
header .logo-container {
  display: flex;
  height: 100%;
  border-radius: 0.5em;
  transition: all 250ms ease;
}
header .logo-container:hover {
  background-color: #eee;
}
header .logo-container .logo {
  aspect-ratio: 393/128;
  max-height: 6em;
  padding: 0.5em;
  mix-blend-mode: darken;
}
@media screen and (min-width: 800px) {
  header .logo-container .logo {
    padding: 0.1em;
  }
}
@media screen and (min-width: 800px) {
  header .hamburger-icon {
    display: none;
  }
}
header .menu {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  height: 100vh;
  width: 75vw;
  min-width: 200px;
  max-width: 400px;
  position: absolute;
  top: 0;
  right: 0;
  padding: 0.5em;
  background-color: #fff;
  box-shadow: 0px 4px 4px 2px rgba(112, 112, 112, 0.4);
  transition: right 250ms ease;
}
@media screen and (min-width: 800px) {
  header .menu {
    position: inherit;
    flex-flow: row nowrap;
    width: auto;
    height: 100%;
    min-width: none;
    max-width: none;
    background-color: transparent;
    box-shadow: none;
  }
}
header .menu.open {
  right: 0;
}
header .menu.close {
  right: -75vw;
}
header .menu-item {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 0.5em 0;
  border-radius: 5px;
  list-style: none;
  cursor: pointer;
  transition: all 250ms ease;
}
@media screen and (min-width: 800px) {
  header .menu-item {
    padding: 0.5em 1em;
    height: 100%;
  }
}
header .menu-item:hover {
  background-color: #ddd;
}
header .menu-item-content {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  max-width: 75%;
}
header .menu-item-content > * {
  margin: 0 0.5em;
}
@media screen and (min-width: 800px) {
  header .menu-item-content {
    max-width: 100%;
  }
}
header .menu-item img {
  height: 2rem;
}
@media screen and (min-width: 800px) {
  header .menu-item img {
    margin: 0;
  }
}
header .menu-item-label {
  font-size: 2em;
}
@media screen and (min-width: 800px) {
  header .menu-item-label {
    font-size: 1em;
  }
}
header .menu hr {
  height: 0.5px;
  width: 75%;
  margin: 0 0 2em 0;
  padding: 0;
  border: 0;
  border-bottom: 0.25px solid #bababa;
}
@media screen and (min-width: 800px) {
  header .menu hr {
    display: none;
  }
}
header .menu .contact-button {
  justify-self: flex-end;
  width: 80%;
  padding: 1em;
  margin: 1em;
  text-align: center;
  text-decoration: none;
  color: rgba(10, 10, 10, 0.9);
  border-radius: 10px;
  border: 1px solid black;
  transition: all 250ms ease;
}
@media screen and (min-width: 800px) {
  header .menu .contact-button {
    display: none;
  }
}
header .menu .contact-button:hover {
  background-color: #ddd;
}
header .menu .blank {
  height: 3em;
}
header .menu .close-icon {
  align-self: end;
  margin: 1em;
}
@media screen and (min-width: 800px) {
  header .menu .close-icon {
    display: none;
  }
}

main {
  flex-grow: 1;
  padding: 1em;
}
main section {
  display: flex;
  flex-flow: column wrap;
  width: 100%;
}
@media screen and (min-width: 800px) {
  main section {
    flex-flow: row;
  }
}
main .stats {
  display: flex;
  flex-flow: column nowrap;
}
main .stats-container {
  display: flex;
  flex-flow: column;
  width: 100%;
}
@media screen and (min-width: 800px) {
  main .stats-container {
    flex-flow: row wrap;
    justify-content: space-evenly;
    width: 100%;
  }
}
main .stats-title {
  padding: 0.5em 0;
  font-size: 1.5rem;
}
main .stats-block {
  display: flex;
  align-items: center;
  flex-flow: row nowrap;
  font-size: 1.75em;
  margin: 0 1em;
}
main .stats-block .icon-container {
  margin: 0;
}
main .stats-block .icon {
  height: 3em;
}
@media screen and (min-width: 800px) {
  main .stats-block .icon {
    height: 2em;
  }
}
main .stats .left {
  align-self: flex-start;
}
main .stats .right {
  align-self: flex-end;
}
main .stats .presentation-text {
  letter-spacing: 0.02em;
  text-indent: 2em;
  text-align: justify;
  line-height: 1.25em;
  color: #5F5F5F;
}
main .image-separator img {
  position: relative;
  left: -1em;
  box-sizing: content-box;
  width: 100vw;
  filter: brightness(0.8);
}

footer {
  display: flex;
  flex-flow: column;
  justify-content: flex-end;
  border-radius: 2em 2em 0 0;
  overflow: hidden;
}
@media screen and (min-width: 800px) {
  footer {
    border-radius: 0.75em 0.75em 0 0;
  }
  footer img {
    display: none;
  }
}
footer p {
  display: block;
  width: 100vw;
  color: #F4F4F4;
  margin: 0;
  padding: 1em;
  text-align: center;
  background-color: #C6E094;
}
@media screen and (min-width: 800px) {
  footer p {
    background-color: #ababab;
  }
}
footer p .legals {
  text-decoration: none;
  color: #F4F4F4;
  transition: all 250ms ease;
}
footer p .legals:hover {
  color: #ffffff;
  text-decoration: underline;
}

/*# sourceMappingURL=main.css.map */
