/* Media queries */
* {
  box-sizing: border-box;
}

body,
html {
  margin: 0;
  padding: 0;
  background: #F3F3F3;
  font-family: "Inter", "Roboto";
  min-height: 100vh;
  width: 100vw;
  overflow-x: hidden;
}

body {
  display: flex;
  flex-flow: column;
  position: relative;
}

h2,
h4,
h5 {
  font-weight: normal;
  margin: 0;
}

p {
  text-align: justify;
}

hr {
  margin: 1em;
  width: 90%;
  border: 0;
  border-bottom: 1px solid #bfbfbf;
}

.icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  padding: 0.75em;
  margin: 0.5em;
  transition: background-color 250ms ease;
}
.icon-container .icon {
  height: 2rem;
  aspect-ratio: 1/1;
}
.icon-container:hover {
  background-color: #eeeeee;
}

.center {
  display: flex;
  justify-content: center;
  align-self: center;
  align-items: center;
}

.asalee {
  color: #42B23B;
  font-weight: 700;
  letter-spacing: -0.02em;
}

header {
  position: fixed;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  max-height: 6em;
  box-shadow: 0px -2px 4px 2px rgba(112, 112, 112, 0.4);
  background-color: #F3F3F3;
  z-index: 2;
  transition: top ease 200ms;
}
@media screen and (min-width: 800px) {
  header {
    position: absolute;
    height: 5em;
  }
}
header.hide {
  top: -7em;
}
@media screen and (min-width: 800px) {
  header.hide {
    top: 0;
  }
}
header .logo-container {
  display: flex;
  height: 100%;
  border-radius: 0.5em;
  transition: all 250ms ease;
}
header .logo-container:hover {
  background-color: #eee;
}
header .logo-container .logo {
  aspect-ratio: 393/128;
  max-height: 6em;
  padding: 0.5em;
  mix-blend-mode: darken;
}
@media screen and (min-width: 800px) {
  header .logo-container .logo {
    padding: 0.1em;
  }
}
@media screen and (min-width: 800px) {
  header .hamburger-icon {
    display: none;
  }
}

.menu {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  height: 100vh;
  width: 75vw;
  min-width: 200px;
  max-width: 400px;
  position: absolute;
  top: 0;
  right: 0;
  padding: 0.5em;
  background-color: #fff;
  box-shadow: 0px 4px 4px 2px rgba(112, 112, 112, 0.4);
  transition: right 250ms ease;
}
@media screen and (min-width: 800px) {
  .menu {
    position: inherit;
    flex-flow: row nowrap;
    width: auto;
    height: 5em;
    min-width: none;
    max-width: none;
    background-color: transparent;
    box-shadow: none;
  }
}
.menu.open {
  right: 0;
}
.menu.close {
  right: -77vw;
}
@media screen and (min-width: 800px) {
  .menu.close {
    right: 0;
  }
}
.menu-item {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 0.5em 0;
  border-radius: 5px;
  list-style: none;
  cursor: pointer;
  user-select: none;
  transition: all 250ms ease;
}
@media screen and (min-width: 800px) {
  .menu-item {
    padding: 0.5em 1em;
    height: 100%;
  }
}
.menu-item:hover {
  background-color: #ddd;
}
.menu-item-content {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  max-width: 75%;
}
.menu-item-content > * {
  margin: 0 0.5em;
}
@media screen and (min-width: 800px) {
  .menu-item-content {
    max-width: 100%;
  }
}
.menu-item img {
  height: 2rem;
}
@media screen and (min-width: 800px) {
  .menu-item img {
    margin: 0;
  }
}
.menu-item-label {
  font-size: 2em;
}
@media screen and (min-width: 800px) {
  .menu-item-label {
    font-size: 1em;
  }
}
.menu hr {
  height: 0.5px;
  width: 75%;
  margin: 0 0 2em 0;
  padding: 0;
  border: 0;
  border-bottom: 0.25px solid #bababa;
}
@media screen and (min-width: 800px) {
  .menu hr {
    display: none;
  }
}
.menu .contact-button {
  justify-self: flex-end;
  width: 80%;
  padding: 1em;
  margin: 1em;
  text-align: center;
  text-decoration: none;
  color: rgba(10, 10, 10, 0.9);
  border-radius: 10px;
  border: 1px solid black;
  transition: all 250ms ease;
}
@media screen and (min-width: 800px) {
  .menu .contact-button {
    display: none;
  }
}
.menu .contact-button:hover {
  background-color: #ddd;
}
.menu .blank {
  height: 3em;
}
.menu .close-icon {
  align-self: end;
  margin: 1em;
}
@media screen and (min-width: 800px) {
  .menu .close-icon {
    display: none;
  }
}

main {
  display: flex;
  align-items: center;
  flex-flow: column;
  flex-grow: 1;
  margin-top: 6em;
  padding: 1em;
}
@media screen and (min-width: 800px) {
  main {
    margin-top: 5em;
  }
}
main section {
  display: flex;
  flex-flow: column wrap;
  width: 100%;
}
@media screen and (min-width: 800px) {
  main section {
    width: 90%;
  }
}
main section .icon-container {
  margin: 0;
}
main section .title-bar {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}
main section .title-bar .icon {
  height: 4.5em;
}
main section .title-bar .title {
  align-self: center;
}
main section .title {
  padding: 0.5em 0;
  font-size: 1.75rem;
  align-self: flex-start;
}
main section .container {
  display: flex;
  flex-flow: column;
  width: 100%;
}
@media screen and (min-width: 800px) {
  main section .container {
    flex-flow: row wrap;
    justify-content: space-evenly;
    width: 100%;
  }
}
main section .bullet-point {
  margin: 0.5em 0;
  line-height: 1.35em;
}
main section .bullet-point p {
  margin: 0 0.5em 0.25em;
  text-align: justify;
}
main section .bullet-point ul {
  padding: 0;
  margin: 0.75em;
  margin-left: 1.5em;
  display: flex;
  flex-flow: column;
  justify-content: center;
}
main section .bullet-point li {
  padding: 0.25em;
  text-align: left;
}
@media screen and (min-width: 800px) {
  main section .bullet-point li {
    padding: 0.65em;
  }
}
main .stats {
  display: flex;
  flex-flow: column nowrap;
}
main .stats .title {
  display: flex;
  justify-content: center;
  align-items: center;
  display: inline;
  align-self: center;
  font-size: 1.65rem;
  white-space: nowrap;
}
main .stats-block {
  display: flex;
  align-items: center;
  flex-flow: row nowrap;
  font-size: 1.7em;
  white-space: nowrap;
}
@media screen and (min-width: 800px) {
  main .stats-block {
    margin: 0 1em;
  }
}
main .stats-block .icon-container {
  margin: 0;
}
main .stats-block .icon {
  height: 3em;
}
@media screen and (min-width: 800px) {
  main .stats-block .icon {
    height: 2em;
  }
}
main .stats .left {
  align-self: flex-start;
}
main .stats .right {
  align-self: flex-end;
}
main .stats .presentation-text {
  letter-spacing: 0.02em;
  text-indent: 2em;
  text-align: justify;
  line-height: 1.25em;
  padding: 1em 0;
  color: #5F5F5F;
}
main .image-separator img {
  position: relative;
  left: -1em;
  width: 100vw;
  margin: 1em 0;
  box-sizing: content-box;
  filter: brightness(0.8);
}
@media screen and (min-width: 800px) {
  main .image-separator img {
    display: none;
  }
}
main .activities {
  padding: 0.5em;
}
main .activities .diagram {
  padding: 0.5em;
}
main .activities .accent {
  color: #42B23B;
}
main .activities .bullet-point li {
  padding: 0.5em;
  text-align: justify;
}
main .activities .yt-video {
  width: 100%;
  aspect-ratio: 606/360;
  margin: 1em 0;
  border-radius: 1em;
}
@media screen and (min-width: 800px) {
  main .activities .yt-video {
    height: 350px;
    width: auto;
    border-radius: 0.5em;
  }
}
@media screen and (min-width: 800px) {
  main .why li {
    padding: 0.25em !important;
  }
}
main .geo .title {
  padding: 0.5em 0;
}
main .geo .container {
  display: flex;
  justify-content: center;
  align-items: center;
}
main .geo .map {
  width: 90vw;
  height: auto;
}
main .history .block {
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: center;
}
main .history .block .icon {
  height: 4em;
}
main .history .block-content {
  display: flex;
  flex-flow: column;
}
main .history .separator {
  writing-mode: vertical-lr;
  text-orientation: mixed;
  text-align: center;
  letter-spacing: 0.02em;
  color: #8C8C8C;
}

footer {
  display: flex;
  flex-flow: column;
  justify-content: flex-end;
  border-radius: 2em 2em 0 0;
  overflow: hidden;
}
@media screen and (min-width: 800px) {
  footer {
    border-radius: 0.75em 0.75em 0 0;
  }
  footer img {
    display: none;
  }
}
footer p {
  display: block;
  width: 100vw;
  color: #F4F4F4;
  margin: 0;
  padding: 1em;
  text-align: center;
  background-color: #C6E094;
}
@media screen and (min-width: 800px) {
  footer p {
    background-color: #ababab;
  }
}
footer p .legals {
  text-decoration: none;
  color: #F4F4F4;
  transition: all 250ms ease;
}
footer p .legals:hover {
  color: #ffffff;
  text-decoration: underline;
}

/*# sourceMappingURL=main.css.map */
