@mixin center {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Media queries */
@mixin small-screen {
    @media screen and (max-width: 640px) {
        @content;
    }
}

@mixin large-screen {
    @media screen and (min-width: 1025px) {
        @content;
    }
}

@mixin desktop {
    @media screen and (min-width: 800px) {
        @content;
    }
}